@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Montserrat:wght@500&display=swap');

html, body {
    height:200%;
    width:98%;
    background-color: rgb(246, 231, 215)  }
  

.container{
text-align: center;
}
  .header{ 
    font-family: 'Encode Sans SC', sans-serif;
  }

  .intro {
  font-family: 'Montserrat', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50em
}
.data{
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50em
  
}

#room3-button{
  background-color: rgba(245, 212, 176, 0.6); 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
#room3-button:hover {
  background-color: rgba(245, 212, 176); /* Lighter Blue */
}

#room4-button{
  background-color: rgba(245, 212, 176, 0.6); /* Blue */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#room4-button:hover {
  background-color: rgba(245, 212, 176); /* Lighter Blue */
}

#room5-button{
  background-color: rgba(245, 212, 176, 0.6); /* Blue */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#room5-button:hover {
  background-color: rgba(245, 212, 176); /* Lighter Blue */
}



.button {
  background-color: rgba(150,140,131, 0.6);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover{
  background-color: rgba(150,140,131);
}

.line{
  margin-top:20px;

}
.advice{
font-family: 'Montserrat', sans-serif;
margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
  text-align:center;
}

input[type=text], select {
    width: 20%;
    padding: 6px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  